body {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  
  .button{
    width: 66px;
    padding: 15px;
    margin: 3px 4px;
    border: 2px solid black;
    box-shadow: 0px 8px 8px ;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
  }
  .input{
    width: 290px;
    font-size: 20px;
      margin: 0;
      padding: 10px 10px;
      border: 2px solid black;
      border-radius: 5px;
      text-align: center;
   
  }
  .block{
  text-align: center;
  
  }
  .kk{
  border: 2px solid orange;
  padding: 10px 10px 10px 10px;
  height: 400px;
  width: 400px;
  margin-left: 400px;
  }